<footer>
    <div class="container-fluid text-center prefooter">
         Ready to get started? We're available 24/7! <br>
         <a href="" class="btn btn-default btn-lg">Call us at <b>1-514-504-2113</b></a>
          <a href="" class="btn btn-default btn-lg">Chat with us</a>
          <a href="" class="btn btn-default btn-lg">Search your Perfect Domain</a>
    </div>

    <div class="container-fluid postfooter">
      <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
           <ul>
             <li>Hosting & Servers</li>
             <li><a href="https://whc.ca/canadian-web-hosting" >Canadian Web Hosting</a></li>
             <li><a href="https://whc.ca/canadian-cloud-servers">Canadian Cloud Servers</a></li>
             <li><a href="https://whc.ca/reseller-web-hosting">Reseller Web Hosting</a></li> 
             <li><a href="https://whc.ca/dedicated-servers">Dedicated Servers</a></li>
             <li><a href="https://whc.ca/managed-wordpress-hosting">Managed WordPress</a></li>
             <li><a href="https://whc.ca/anycast-dns">Anycast DNS</a></li>
             <li><a href="https://whc.ca/free-website-transfer">Free Website Migration</a></li>
           </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li>Domains & Websites</li>
            <li><a href="https://whc.ca/domain-names/search">Domain Name Search</a></li>
            <li><a href="https://whc.ca/domain-names/transfer">Domain Name Transfer</a></li>
            <li><a href="https://whc.ca/weebly-site-builder">Weebly Site Builder</a></li> 
          </ul>
       </div>
      
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <ul>
          <li>Company</li>
          <li><a href="https://whc.ca/blog/en">Blog &amp; News</a></li>
          <li><a href="https://whc.ca/about-web-hosting-canada">About WHC</a></li>
          <li><a href="https://whc.ca/web-hosting-canada-reviews">WHC Reviews</a></li>
          <li><a href="https://whc.ca/green-hosting/">Green Web Hosting</a></li>
          <li><a href="https://whc.ca/contact-us">Contact us</a></li>
          <li><a href="https://careers.whc.ca">Careers</a></li> 
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <ul>
          <li>Support</li>
          <li><a href="https://clients.whc.ca/en/knowledgebase">Help Center</a></li>
          <li><a href="https://clients.whc.ca/supporttickets.php?language=english">Open Support Ticket</a></li>
          <li><a href="https://clients.whc.ca/serverstatus.php">Check System Status</a></li>
      </ul>
      </div>
      
      </div>
      
      <hr>
      
      <div class="follow">
        
      <span>Follow Us</span>
        <span class="fa-stack fa-lg ">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="https://www.facebook.com/WHC.CA"><i class="fab fa-facebook-f fa-stack-1x  facebook"></i></a>
        </span>

        <span class="fa-stack fa-lg ">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="https://twitter.com/webhostcanada"><i class="fab fa-twitter fa-stack-1x  twitter"></i></a>
        </span>

        <span class="fa-stack fa-lg ">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="https://www.instagram.com/whc.ca/"><i class="fab fa-instagram fa-stack-1x  instagram"></i></a>
        </span>

        <span class="fa-stack fa-lg ">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="https://www.linkedin.com/company/web-hosting-canada/"><i class="fab fa-linkedin-in fa-stack-1x  linkedin"></i></a>
        </span>

        <span class="fa-stack fa-lg ">
          <i class="fa fa-circle fa-stack-2x"></i>
          <a href="https://www.youtube.com/c/WhcCa?sub_confirmation=1"><i class="fab fa-youtube fa-stack-1x  youtube"></i></a>
        </span>
      </div>
        <br><br>
        <div style="font-weight:lighter;">
          <i class="fa fa-phone"></i>
          1 514 504-2113 &nbsp;
          <i class="fa fa-map-marker"></i>
          7250 Clark Street #301, Montreal, Quebec H2R 2Y3 Canada
        </div>
      </div>
    </div>
  </footer>